<h1>Employees</h1>

<table>
  <tr>
    <th>Employee Name</th>
  </tr>
  <tr>
    <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee_full_name(employee), employee_path(employee) %>   
      </td>
    </tr>
    <% end %>
  </tr>
</table>

<%= link_to "Add New Employee", new_employee_path %>
