<h1><%= @current_office.name %> Employees</h1>

<table>
  <tr>
    <th>Employee Name</th>
  </tr>
  <tr>
    <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee_full_name(employee), office_employee_path(current_office, employee) %>   
      </td>
    </tr>
    <% end %>
  </tr>
</table>

<br>

<%= link_to "Add New Employee", new_office_employee_path(current_office) %>
