<h1><%= @current_office.name %> Employees</h1>

<div class="row">
  <div class="col-md-6">
    Employee Name
  </div>
</div>
<% @employees.each do |employee| %>
  <div class="row">
    <div class="col-md-6"> 
      <%= link_to employee_full_name(employee), office_employee_path(current_office, employee) %>
    </div>
  </div>
<% end %> 

<br>

<%= link_to "Add New Employee", new_office_employee_path(current_office), class: "btn btn-dark" %>

