<h1>Employees</h1>

<h3>Select Office</h3>
<% Office.find_each do |office| %>
  <div><%= link_to office.name, office_employees_path(office) %></div>
<% end %>

<br>

<div>Currently Showing: <%= @current_office.name %></div>

<br>
<table>
  <tr>
    <th>Employee Name</th>
  </tr>
  <tr>
    <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= link_to employee_full_name(employee), office_employee_path(@current_office,employee) %>   
      </td>
    </tr>
    <% end %>
  </tr>
</table>

<%= link_to "Add New Employee", new_office_employee_path(@current_office) %>
