<div class="form-group">

<%= form_for([@current_office, assignment]) do |form| %>
  <%= form.select :employee_id,  @employees.map { |employee| [employee_full_name(employee), employee.id] } %>
  <%= form.hidden_field :week_id, value: @week.id %>
  <%= form.submit "Save Changes", class: "btn btn-dark btn-sm" %>
<% end %>

</div>