<h1>Editing Week</h1>

<%= print_date(@week) %>

<% @assignments.each do |assignment| %>
  <%= render('form', assignment: assignment) %>
  <br>
<% end %>


<% if !@week.fully_assigned? %>
  <div><%= link_to "Add assignment", new_office_assignment_path(current_office, week: @week) %></div>
<%end%>