<h1>Editing Week</h1>

<%= print_date(@week) %>

<% @assignments.each do |assignment| %>
  <%= render('form', assignment: assignment) %>
<% end %>


<% if @assignments.count < ASSIGNMENTS_PER_WEEK %>
  <div><%= link_to "Add assignment", new_assignment_path(week: @week) %></div>
<%end%>