
<p>Hello <%= @employee.first_name %>,  </p>

<p>This is a reminder that you are assigned to kitchen duties this week. </p>

<p>You can view the schedule <%= link_to "here", assignments_url %>. </p>

<p>Thanks,</p>
<p>Mr. Clean</p>
