
<p>Hello <%= @employee.first_name %>,  </p>

<p>This is a reminder that you are assigned to kitchen duties from <%= print_date(@assignment.week) %>. </p>

<p>You can view the schedule <%= link_to "here", office_assignments_url(@current_office) %>. </p>

<p>Thanks,</p>
<p>Mr. Clean</p>
