<h1>Kitchen Schedule</h1>

<table>
<tr>
  <th>
    Dates
  </th>
  <th>
    Employees
  </th>
</tr>

<% @weeks.each do |week| %>
  <tr>
    <td>
      <%= print_date(week) %>
    </td>
    <% week.employees.each do |employee| %>
      <td>
        <%= "#{employee.first_name}" %>
      </td>
    <% end %>
      <td>
        <%= link_to "Edit Week", edit_assignment_path(week) %>
      </td>
  </tr>
<% end %>

</table>


