<h1>Kitchen Schedule</h1>

<table>

<% schedule = Schedule.all %>
<% schedule.each do |s| %>
	<tr>
		<td><%= printDate(s)%></td>
		<td>
			<%= "#{s.employee1.first_name} and #{s.employee2.first_name}" %>
		</td>
	</tr>
<% end %>

</table>


