@media print
{
  #assignments_table
  {
    width: 700px;
  }

  .table th.table-header
  {
    background-color: #000 !important;
  }

  .edit_weeks, .create_week, #site_navbar, .swap-btn
  {
    visibility: hidden;
    display: none;
  }
}